<!DOCTYPE html>
<html lang="en">
  <%- include('partials/intro') %> 
  <%- include('partials/navbar') %> 
  <section class="container">
  <h1>Browsing the <%= name %> subreddit </h1>
  <h2> <%= description %> </h2>
  <p>Subscribers on thread: <b><%= subscribers %> </b></p>
  <% for (let post of posts){ %> 
    <div> 
      <p><%= post.title %>:- <b><%= post.author %></b> </p>
      <% if(post.img){ %> 
      <img src="<%= post.img %> " alt="coming soon">
      <% } %> 
    </div>
    <% } %> 
  </section>
    <%- include('partials/footer') %> 