<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comments</title>
</head>
<body>
  <h1>Comment ID: <%= comment.id %></h1>
  <h3><%= comment.comment %>- <b><%= comment.user %> </b> </h3>
  <form action="/comments">
    <button>Back to index</button>
  </form>
  <br>
  <!-- <a href="/comments"> Back to index</a> -->
  <form action="/comments/<%= comment.id %>/edit ">
  <button>Edit comment</button></form>
  <!-- <a href="/comments/<%= comment.id %>/edit "> Edit comment</a> -->
  <br>
  <form method="POST" action="/comments/<%= comment.id %>?_method=DELETE ">
    <button>Delete</button>
  </form>
</body>
</html>